<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500963533087-gqahga9khes839bti7648umj590vdchc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500963533087-gqahga9khes839bti7648umj590vdchc</string>
	<key>API_KEY</key>
	<string>AIzaSyANKW9No-opaJcuu8chLxf2IUQA-G7mWUw</string>
	<key>GCM_SENDER_ID</key>
	<string>500963533087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innoscripta.taskify</string>
	<key>PROJECT_ID</key>
	<string>taskify-71f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>taskify-71f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500963533087:ios:7c9d0217f58bb60c7a502a</string>
</dict>
</plist>